<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-80">
        <h2 class="text-2xl font-semibold mb-4">Register</h2>
        <div th:if="${param.success}">
            <div class="alert alert-info text-green-700 px-4 py-3">
                You have successfully registered our app!
            </div>
            <br>
        </div>
        <form method="post" action="/register" th:object="${users}" th:action="@{/register}">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input id="username"
                       name="username"
                       th:field="*{username}"
                       type="text"
                       placeholder="Enter your username"
                       class="form-control border rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500">
            </div>
            <p th:errors = "*{username}" class="text-danger text-red-700"
               th:if="${#fields.hasErrors('username')}"></p>
            <br>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input id="password"
                       type="password"
                       placeholder="Enter your password"
                       name="password"
                       class="border rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500">
            </div>
            <div class="mb-4">
                <label for="role" class="block text-gray-700 text-sm font-bold mb-2">Role</label>
                <select id="role" class="border rounded px-3 py-2 w-full focus:outline-none focus:border-blue-500" name="role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Register</button>
            <div class="text-center mt-4">
                <span class="text-gray-600">Already have an account?</span>
                <a href="/" class="text-blue-500 hover:underline">Login</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>